/*.csproj
/.vsconfig
/Temp
/obj
/Library
/Logs
/.vs
/*.sln
/*.user
~*.xlsx
~*.xlsx.meta
/Assets/Resources
/Assets/Editor/uindies/XlsToJson/importer
/Assets/Editor/uindies/XlsToJson/importer.meta
/Assets/Resources.meta
